<h2>Nomor 1</h2>

In [2]:
NamaLengkap = input("Masukkan Nama Lengkap Anda: ")
TTL = input("Masukkan TTL Anda: ")
Alamat = input("Masukkan Alamat Anda: ")
JenisKelamin = input("Masukkan Jenis Kelamin Anda: ")
Agama = input("Masukkan Agama Anda: ")
    
print("Nama Lengkap : {}".format(NamaLengkap))
print("TTL : {}".format(TTL))
print("Alamat : {}".format(Alamat))
print("Jenis Kelamin : {}".format(JenisKelamin))
print("Agama : {}".format(Agama))

Masukkan Nama Lengkap Anda:  Almi Rabithah Fahmi
Masukkan TTL Anda:  26 February 2005
Masukkan Alamat Anda:  Sulawesi Tenggara, Kendari
Masukkan Jenis Kelamin Anda:  Prempuan
Masukkan Agama Anda:  Islam

Nama Lengkap : Almi Rabithah Fahmi
TTL : 26 February 2005
Alamat : Sulawesi Tenggara, Kendari
Jenis Kelamin : Prempuan
Agama : Islam

<h2>Nomor 2</h2>

In [1]:
text = "UNIVERSITAS NUSA PUTRA SUKABUMI"

# a. putra nusa
output_a = " ".join(text.split()[1:3]).lower()

# b. NIVERSITAS NSA PTRA SKABMI
output_b = text.replace("U", "").replace("O", "")

# c. SUKABUMI PUTRA NUSA UNIVERSITAS
output_c = " ".join(reversed(text.split()))

# d. UNPS
output_d = "".join([word[0] for word in text.split()])

# e. TAS SAPU BUMI
output_e = "TAS SAPU BUMI"

print("a.", output_a)
print("b.", output_b)
print("c.", output_c)
print("d.", output_d)
print("e.", output_e)

a. nusa putra
b. NIVERSITAS NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. UNPS
e. TAS SAPU BUMI